[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-classful = "*"
flask-cors = "*"
gunicorn = "*"
pyyaml = "*"
requests = "*"
colorama = "*"
python-dotenv = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.14"
